h1{
    color:rgb(85, 255, 0);
    padding: 15px;
}
*{
    border: solid;
}

.header{
    background-color: cornflowerblue;
    display:flex;
    justify-content: space-between;
}

.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display:flex;
    justify-content:flex-end;
}

p,h2{
    text-align: center;
    background-color: #5f00cd;
}

body{
    background-color: #93aeff;
}

.menu{
    background-color: #5c53ff;
    margin-right: 15px;
    padding: 10px; 
}

a:link{
    color: #000000
}

a:visited{
    color: #ff0000
}

.item{
    position:relative;
}

.item p{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    opacity:0;
}

.item:hover p{
    opacity:1;
}

.item:hover img{
    opacity:0.33;
}